@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f5f6;
}
.swiper-button-next,
.swiper-button-prev {
  color: #043a53 !important;
  background: white;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  background: #043a53 !important;
}

.swiper-pagination {
  margin-top: 20px;
}
